@page "/Articulo"
@page "/Articulo/{Id:int}"
<div class="form-register">
    <h3>Articulos</h3>
    <EditForm Model="@articulo" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> ArticuloId</label>
            <InputNumber class="form-control" @bind-Value="articulo.ArticuloId"></InputNumber>
            <ValidationMessage For="(() => articulo.ArticuloId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="articulo.Nombre"></InputText>
            <ValidationMessage For="(() => articulo.Nombre)" />
        </div>

        <div class="form-group">
            <label>Inventario</label>
            <InputNumber class="form-control" @bind-Value="articulo.Inventario"></InputNumber>
            <ValidationMessage For="(() => articulo.Inventario)" />
        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="articulo.FechaIngreso"></InputDate>
            <ValidationMessage For="(() => articulo.FechaIngreso)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
    </EditForm>
</div>
<br />
<br />


@code {
    [Parameter]
    public int Id { get; set; }
    public string Mensaje { get; set; }

    Articulos articulo = new Articulos();

    protected override void OnInitialized()
    {
        ControllersArticulos controller = new ControllersArticulos();
        Limpiar();
        Mensaje = string.Empty;
        if (Id != 0)
        {
            articulo = controller.Buscar(Id);
        }
    }


    public bool ExisteEnLaBaseDeDatos(int id)
    {
        Contexto db = new Contexto();
        var buscado = db.Articulos.Find(id);
        bool paso = true;

        if (buscado == null)
        {
            paso = false;
        }

        return paso;
    }

    private void Limpiar()
    {
        articulo = new Articulos();
    }

    private void Guardar()
    {
        ControllersArticulos controller = new ControllersArticulos();

        if (articulo.ArticuloId > 0)
        {
            if (ExisteEnLaBaseDeDatos(articulo.ArticuloId))
            {
                if (controller.Guardar(articulo))
                {
                    Mensaje = "Se modifico correctamente";
                    Limpiar();
                }
                else
                {
                    Mensaje = "No se pudo modificar";
                }

            }
            else
            {
                Mensaje = "No se puede modificar un Usuario que no exista";
            }

        }
        else
        {
            if (controller.Guardar(articulo))
            {
                Mensaje = "Se guardo correctamente";
                Limpiar();
            }
            else
            {
                Mensaje = "No se pudo Guardar";
            }
        }
    }

    private void Eliminar()
    {
        ControllersArticulos controller = new ControllersArticulos();
        int id = articulo.ArticuloId;
        if (id > 0)
        {
            if (ExisteEnLaBaseDeDatos(id))
            {
                controller.Eliminar(id);
                Limpiar();
                Mensaje = "Se elimino Correctamente";
            }
            else
            {
                Mensaje = "No se puede eliminar un Articulo que no Exista";
            }
        }
        else
        {
            Mensaje = "No se puede eliminar";
        }
    }

    private void Buscar()
    {
        ControllersArticulos controller = new ControllersArticulos();
        var buscado = controller.Buscar(articulo.ArticuloId);

        if (buscado != null)
        {
            articulo = buscado;
            Mensaje = "Se encontro el Usuario";
        }
        else
        {
            Mensaje = "No existe este Usuario";
        }
    }
}