@page "/Registro/Articulos"
@page "/Registro/Articulo/{Id:int}"
<div class="form-register">
    <h3>Articulos</h3>
    <EditForm Model="@Articulo" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> ArticuloId</label>
            <InputNumber class="form-control" @bind-Value="Articulo.ArticuloId"></InputNumber>
            <ValidationMessage For="(() => Articulo.ArticuloId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="Articulo.Nombre"></InputText>
            <ValidationMessage For="(() => Articulo.Nombre)" />
        </div>

        <div class="form-group">
            <label>Inventario</label>
            <InputNumber class="form-control" @bind-Value="Articulo.Inventario" ReadOnly="true"></InputNumber>
            <ValidationMessage For="(() => Articulo.Inventario)" />
        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="Articulo.Fecha"></InputDate>
            <ValidationMessage For="(() => Articulo.Fecha)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
        <h5 class="text-success">@Mensaje</h5>
    </EditForm>
</div>

@code {
    protected override void OnInitialized()
    {
        Articulo = new Articulos();
    }

    public Articulos Articulo { get; set; }
    public string Mensaje;
    ArticulosController controller = new ArticulosController();
    protected override void OnInitialized()
    {
        Limpiar();
        if (Id != 0)
        {
            Articulo = controller.Buscar(Id);
        }
    }

    private void Limpiar()
    {
        Articulo = new Articulos();
    }

    public void Guardar()
    {
        if (controller.Guardar(Articulo))
        {
            Limpiar();
            Mensaje = "Articulo Guardado con Exito!!!";
        }
        else
        {
            Limpiar();
            Mensaje = "Error al guardar Articulo";
        }
    }

    public void Buscar()
    {
        var articulo = controller.Buscar(Articulo.ArticuloId);

        if (articulo != null)
        {
            Articulo = articulo;
        }
        else
        {
            Limpiar();
            Mensaje = "Articulo no Existe";
        }
    }

    public void Eliminar()
	{
		var articulo = controller.Buscar(Articulo.ArticuloId);

		if (articulo != null)
		{
			controller.Eliminar(Articulo.ArticuloId);
			Limpiar();
			Mensaje = "Articulo Eliminado";
		}
		else
		{
			Limpiar();
			Mensaje = "Error al eliminar";
		}
	}
}