@page "/Registro/Categoria"
@page "/Registro/Categorias/{CategoriaId:int}"
@inject IToastService toastService

    <div class="form-register">
        <h3>Registro Categoria</h3>

        <EditForm Model="@Categoria" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <label class="text-muted form-text">@Mensaje</label>
            <div class="form-group">
                <label> UsuarioId</label>
                <InputNumber class="form-control" @bind-Value="Categoria.CategoriaId"></InputNumber>
                <ValidationMessage For="(() => Categoria.CategoriaId)" />
                <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <InputText class="form-control" @bind-Value="Categoria.Descripcion"></InputText>
                <ValidationMessage For="(() => Categoria.Descripcion)" />
            </div>



        </EditForm>
    </div>

@code {
    [Parameter]
    public int CategoriaId { get; set; }
    public Categorias Categoria { get; set; }
    string Mensaje = string.Empty;
    CategoriasController controller = new CategoriasController();

    protected override void OnInitialized()
    {
        Limpiar();
        if (CategoriaId != 0)
        {
            Categoria = controller.Buscar(CategoriaId);
        }
    }

    private void Limpiar()
    {
        Categoria = new Categorias();
        LimpiarMensajes();
    }

    public void LimpiarMensajes()
    {
        Mensaje = string.Empty;
    }

    public void Guardar()
    {
        if (controller.Guardar(Categoria))
        {
            Limpiar();
            toastService.ShowSuccess("Categoria guardada correctamente", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al guardar la categoria", "Fallo");
        }
    }

    public void Buscar()
    {
        var categoria = controller.Buscar(Categoria.CategoriaId);

        if (categoria != null)
        {
            Limpiar();
            Categoria = categoria;
            toastService.ShowSuccess("Categoria encontrado.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("La categoria no fue encontrada", "Fallo");
        }
    }

    public void Eliminar()
    {
        var categoria = controller.Buscar(Categoria.CategoriaId);

        if (categoria != null)
        {
            controller.Eliminar(Categoria.CategoriaId);
            Limpiar();
            toastService.ShowSuccess("Categoria eliminada correctamente.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al eliminar la Categoria.", "Fallo");
        }
    }
}
