@page "/Registro/Clientes"
@page "/Registro/Clientes/{Id:int}"
<div class="form-register">
    <h3>Clientes</h3>
    <EditForm Model="@clientes" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> ClienteId</label>
            <InputNumber class="form-control" @bind-Value="clientes.ClienteId"></InputNumber>
            <ValidationMessage For="(() => clientes.ClienteId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="clientes.Nombre"></InputText>
            <ValidationMessage For="(() => clientes.Nombre)" />
        </div>

        <div class="form-group">
            <label>Cedula</label>
            <InputText class="form-control" @bind-Value="clientes.Cedula"></InputText>
            <ValidationMessage For="(() => clientes.Cedula)" />
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <InputText class="form-control" @bind-Value="clientes.Telefono"></InputText>
            <ValidationMessage For="(() => clientes.Telefono)" />
        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="clientes.FechaIngreso"></InputDate>
            <ValidationMessage For="(() => clientes.FechaIngreso)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
        <h5 class="text-success">@Mensaje</h5>
    </EditForm>
</div>

@code {
 [Parameter]
    public int Id { get; set; }
    public string Mensaje = "";

    Clientes clientes = new Clientes();

    protected override void OnInitialized()
    {
        ClientesController controller = new ClientesController();
        Limpiar();
        Mensaje = string.Empty;
        if (Id != 0)
        {
            clientes = controller.Buscar(Id);
        }
    }


    public bool ExisteEnLaBaseDeDatos(int id)
    {
        Contexto db = new Contexto();
        var buscado = db.Clientes.Find(id);
        bool paso = true;

        if (buscado == null)
        {
            paso = false;
        }

        return paso;
    }

    private void Limpiar()
    {
        clientes = new Clientes();
    }

    private void Guardar()
    {
        ClientesController controller = new ClientesController();

        if (clientes.ClienteId != 0)
        {
            if (ExisteEnLaBaseDeDatos(clientes.ClienteId))
            {
                if (controller.Guardar(clientes))
                {
                    Mensaje = "Se modifico correctamente";
                    Limpiar();
                }
                else
                {
                    Mensaje = "No se pudo modificar";
                }

            }
            else
            {
                Mensaje = "No se puede modificar un cliente que no exista";
            }

        }
        else
        {
            if (controller.Guardar(clientes))
            {
                Mensaje = "Se guardo correctamente";
                Limpiar();
            }
            else
            {
                Mensaje = "No se pudo Guardar";
            }
        }
    }

    private void Eliminar()
    {
        ClientesController controller = new ClientesController();
        int id = clientes.ClienteId;
        if (id != 0)
        {
            if (ExisteEnLaBaseDeDatos(id))
            {
                controller.Eliminar(id);
                Limpiar();
                Mensaje = "Se elimino Correctamente";
            }
            else
            {
                Mensaje = "No se puede eliminar un Usuario que no Exista";
            }
        }
        else
        {
            Mensaje = "No se puede eliminar asi";
        }
    }

    private void Buscar()
    {
        ClientesController controller = new ClientesController();
        var buscado = controller.Buscar(clientes.ClienteId);

        if (buscado != null)
        {
            clientes = buscado;
            Mensaje = "Se encontro el Usuario";
        }
        else
        {
            Mensaje = "No existe este Usuario";
        }
    }
}