@page "/Registro/Clientes"
@page "/Registro/Clientes/{Id:int}"
<div class="form-register">
    <h3>Clientes</h3>
    <EditForm Model="@Cliente" OnValidSubmit="Guardar">
        <DataAnnotationsValidator/>
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> ClienteId</label>
            <InputNumber class="form-control" @bind-Value="Cliente.ClienteId"></InputNumber>
            <ValidationMessage For="(() => Cliente.ClienteId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="Cliente.Nombre"></InputText>
            <ValidationMessage For="(() => Cliente.Nombre)" />
        </div>

        <div class="form-group">
            <label>Cedula</label>
            <InputText class="form-control" @bind-Value="Cliente.Cedula"></InputText>
            <ValidationMessage For="(() => Cliente.Cedula)" />
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <InputText class="form-control" @bind-Value="Cliente.Telefono"></InputText>
            <ValidationMessage For="(() => Cliente.Telefono)" />
        </div>
        <div class="form-group">
            <label>Direccion</label>
            <InputText class="form-control" @bind-Value="Cliente.Direccion"></InputText>
            <ValidationMessage For="(() => Cliente.Direccion)" />
        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="Cliente.FechaIngreso"></InputDate>`
            <ValidationMessage For="(() => Cliente.FechaIngreso)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
        <h5 class="text-success">@Mensaje</h5>
    </EditForm>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public string Mensaje = "";

    Clientes Cliente = new Clientes();
    ClientesController controller = new ClientesController();

    protected override void OnInitialized()
    {
        Limpiar();
        Mensaje = string.Empty;
        if (Id != 0)
        {
            Cliente = controller.Buscar(Id);
        }
    }



    private void Limpiar()
    {
        Cliente = new Clientes();
    }

    public void Guardar()
    {
        if (controller.Guardar(Cliente))
        {
            Limpiar();
            Mensaje = "cliente Guardado con Exito!!!";
        }
        else
        {
            Limpiar();
            Mensaje = "Error al guardar cliente";
        }
    }

    public void Buscar()
    {
        var client = controller.Buscar(Cliente.ClienteId);

        if (client != null)
        {
            Cliente = client;
        }
        else
        {
            Limpiar();
            Mensaje = "cliente no Existe";
        }
    }

    public void Eliminar()
    {
        var client = controller.Buscar(Cliente.ClienteId);

        if (client != null)
        {
            controller.Eliminar(Cliente.ClienteId);
            Limpiar();
            Mensaje = "cliente Eliminado";
        }
        else
        {
            Limpiar();
            Mensaje = "Error al eliminar";
        }
    }
}