@page "/Registro/Cliente"
@page "/Registro/Cliente/{ClienteId:int}"
@inject IToastService toastService
<div class="form-register">
    <h3>Clientes</h3>
    <EditForm Model="@Cliente" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> ClienteId</label>
            <InputNumber class="form-control" @bind-Value="Cliente.ClienteId"></InputNumber>
            <ValidationMessage For="(() => Cliente.ClienteId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="Cliente.Nombre"></InputText>
            <ValidationMessage For="(() => Cliente.Nombre)" />
        </div>

        <div class="form-group">
            <label>Cedula</label>
            <InputText class="form-control" @bind-Value="Cliente.Cedula"></InputText>
            <ValidationMessage For="(() => Cliente.Cedula)" />
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <InputText class="form-control" @bind-Value="Cliente.Telefono"></InputText>
            <ValidationMessage For="(() => Cliente.Telefono)" />
        </div>
        <div class="form-group">
            <label>Direccion</label>
            <InputText class="form-control" @bind-Value="Cliente.Direccion"></InputText>
            <ValidationMessage For="(() => Cliente.Direccion)" />
        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="Cliente.Fecha"></InputDate>`
            <ValidationMessage For="(() => Cliente.Fecha)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
        <h5 class="text-success">@Mensaje</h5>
    </EditForm>
</div>

@code {
    [Parameter]
    public int ClienteId { get; set; }
    string Mensaje = string.Empty;
    Clientes Cliente = new Clientes();
    ClientesController controller = new ClientesController();

    protected override void OnInitialized()
    {
        Limpiar();
        if (ClienteId != 0)
        {
            Cliente = controller.Buscar(ClienteId);
        }
    }
    private void Limpiar()
    {
        Cliente = new Clientes();
    }

    public void Guardar()
    {
        if (controller.Guardar(Cliente))
        {
            Limpiar();
            toastService.ShowSuccess("Cliente guardado correctamente", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al guardar el cliente", "Fallo");
        }
    }

    public void Buscar()
    {
        var cliente = controller.Buscar(Cliente.ClienteId);

        if (cliente != null)
        {
            Cliente = cliente;
            toastService.ShowSuccess("Cliente encontrado.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("El cliente no fue encontrado.", "Fallo");
        }
    }

    public void Eliminar()
    {
        var cliente = controller.Buscar(Cliente.ClienteId);

        if (cliente != null)
        {
            controller.Eliminar(Cliente.ClienteId);
            Limpiar();
            toastService.ShowSuccess("Cliente eliminado correctamente.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al eliminar el cliente.", "Fallo");
        }
    }
}