@page "/Registro/TipoUsuario"
@page "/Registro/TipoUsuario/{TipoUsuarioId:int}"
@inject IToastService toastService



<style>
    .demo-mat-card {
        max-width: 500px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto
    }
</style>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
    <MatHeadline6 Class="demo-mat-card-clean-margin mat-layout-grid-cell mat-layout-grid-cell-align-middle">
        TipoUsuarios
    </MatHeadline6>
    <MatDivider Padded="true"></MatDivider>

    <div class="form-register">
        <EditForm Model="@TipoUsuario" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <label class="text-muted form-text">@Mensaje</label>


            <div class="input-group-append">
                <MatTextField Label="TipoUsuarioId" Required="true" @bind-Value="TipoUsuario.TipoUsuarioId" InputStyle="number" Style="height: 37px; margin-left:5px"></MatTextField>
                <ValidationMessage For="(() => TipoUsuario.TipoUsuarioId)" />
                <MatThemeProvider Theme="buscar">  <MatButton Raised="true" Icon="search" @onclick="Buscar" Style=" max-width: 7rem;"> Buscar</MatButton> </MatThemeProvider>
            </div>
            <br />
            <div class="form-group">
                <MatTextField Label="Descripcion" Required="true" @bind-Value="TipoUsuario.Descripcion" Style="height: 37px;  width:100%  !important;"  ></MatTextField>
                <ValidationMessage For="(() => TipoUsuario.Descripcion)" />
            </div>

            <div>
                <MatButton Raised="true" Icon="insert_drive_file" @onclick="Limpiar">Nuevo</MatButton>
                <MatThemeProvider Theme="guarda">  <MatButton Raised="true" Type="submit" Icon="save">Guardar</MatButton>   </MatThemeProvider>
                <MatThemeProvider Theme="eliminar"> <MatButton Raised="true" Icon="delete" @onclick="Eliminar">Eliminar</MatButton> </MatThemeProvider>

            </div>
            <h5 class="text-success">@Mensaje</h5>
        </EditForm>
    </div>
</MatCard>
@code {
    [Parameter]
    public int TipoUsuarioId { get; set; }
    public TiposUsuarios TipoUsuario { get; set; }
    string Mensaje = string.Empty;
    TipoUsuariosController controller = new TipoUsuariosController();

    protected override void OnInitialized()
    {
        Limpiar();
        if (TipoUsuarioId != 0)
        {
            TipoUsuario = controller.Buscar(TipoUsuarioId);
        }
    }

    private void Limpiar()
    {
        TipoUsuario = new TiposUsuarios();
        LimpiarMensajes();
    }

    public void LimpiarMensajes()
    {
        Mensaje = string.Empty;
    }

    public void Guardar()
    {
        if (controller.Guardar(TipoUsuario))
        {
            Limpiar();
            toastService.ShowSuccess("TipoUsuario guardado correctamente", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al guardar el TipoUsuario", "Fallo");
        }
    }

    public void Buscar()
    {
        var tipousuario = controller.Buscar(TipoUsuario.TipoUsuarioId);

        if (tipousuario != null)
        {
            Limpiar();
            TipoUsuario = tipousuario;
            toastService.ShowSuccess("TipoUsuario encontrado.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("el TipoUsuario no fue encontrada", "Fallo");
        }
    }

    public void Eliminar()
    {
        var categoria = controller.Buscar(TipoUsuario.TipoUsuarioId);

        if (categoria != null)
        {
            controller.Eliminar(TipoUsuario.TipoUsuarioId);
            Limpiar();
            toastService.ShowSuccess("TipoUsuario eliminado correctamente.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al eliminar el TipoUsuario.", "Fallo");
        }
    }

    
                MatTheme guarda = new MatTheme()
            {
                Primary = "green",
            };
 
                MatTheme eliminar = new MatTheme()
            {
                Primary = "red",
            };
 
                MatTheme buscar = new MatTheme()
            {
                Primary = "grey",
            };
}
