@page "/Registro/TipoCliente"
@page "/Registro/TipoCliente/{TipoClienteId:int}"
@inject IMatToaster  Toaster



<style>
    .demo-mat-card {
        max-width: 500px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto
    }
</style>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
    <MatHeadline6 Class="demo-mat-card-clean-margin mat-layout-grid-cell mat-layout-grid-cell-align-middle">
        Tipos de Clientes
    </MatHeadline6>
    <MatDivider Padded="true"></MatDivider>

    <div class="form-register">
        <EditForm Model="@TipoCliente" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <label class="text-muted form-text">@Mensaje</label>


            <div class="input-group-append">
                <MatTextField Label="TipoClienteId" Required="true" @bind-Value="TipoCliente.TipoClienteId" InputStyle="number" Style="height: 37px; margin-left:5px;"></MatTextField>
                <ValidationMessage For="(() => TipoCliente.TipoClienteId)" />
                <MatThemeProvider Theme="buscar">  <MatButton Raised="true" Icon="search" @onclick="Buscar" Style=" max-width: 7rem;"> Buscar</MatButton> </MatThemeProvider>
            </div>
            <br />
            <div class="form-group">
                <MatTextField Label="Descripcion" Required="true" @bind-Value="TipoCliente.Descripcion" Style="height: 37px;  width:100%  !important;"></MatTextField>
                <ValidationMessage For="(() => TipoCliente.Descripcion)" />
            </div>

            <div>
                <MatButton Raised="true" Icon="insert_drive_file" @onclick="Limpiar">Nuevo</MatButton>
                <MatThemeProvider Theme="guarda">  <MatButton Raised="true" Type="submit" Icon="save">Guardar</MatButton>   </MatThemeProvider>
                <MatThemeProvider Theme="eliminar"> <MatButton Raised="true" Icon="delete" @onclick="Eliminar">Eliminar</MatButton> </MatThemeProvider>

            </div>
            <h5 class="text-success">@Mensaje</h5>
        </EditForm>
;    </div>
</MatCard>

    @code {
        [Parameter]
        public int TipoClienteId { get; set; }
        public TiposClientes TipoCliente { get; set; }
        string Mensaje = string.Empty;
        string Titulo = string.Empty;
        TipoClientesController controller = new TipoClientesController();

        protected override void OnInitialized()
        {
            TipoCliente = new TiposClientes();
            Limpiar();
            if (TipoClienteId != 0)
            {
                TipoCliente.TipoClienteId = TipoClienteId;
                Buscar();
            }
        }

        private void Limpiar()
        {
            TipoCliente = new TiposClientes();
            LimpiarMensajes();
        }

        public void LimpiarMensajes()
        {
            Mensaje = string.Empty;
            Titulo = string.Empty;
        }

        public void Guardar()
        {
            if (controller.Guardar(TipoCliente))
            {
                Limpiar();
                Mensaje = "Se Guardo el tipo de cliente correctamente";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
            }
            else
            {
                Limpiar();
                Mensaje = "Ha ocurrido un error al guardar el tipo de cliente";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }

        public void Buscar()
        {
            TiposClientes tipocliente = controller.Buscar(TipoCliente.TipoClienteId);

            if (tipocliente != null)
            {
                Limpiar();
                TipoCliente = tipocliente;
                Mensaje = "Se ha encontrado el tipo de cliente correctamente";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
            }
            else
            {
                Limpiar();
                Mensaje = "No se ha encontrado el tipo de cliente";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }

        public void Eliminar()
        {
            TiposClientes tipocliente = controller.Buscar(TipoCliente.TipoClienteId);

            if (tipocliente != null)
            {
                controller.Eliminar(TipoCliente.TipoClienteId);
                Limpiar();
                Mensaje = "Se Elimino el tipo de cliente correctamente";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
            }
            else
            {
                Limpiar();
                Mensaje = "Ha ocurrido un error al eliminar el tipo de cliente";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }
        public void Show(MatToastType type, string icon = "")
        {
            Toaster.Add(Mensaje, type, Titulo, icon, config =>
            {
                config.ShowCloseButton = true;
                config.ShowProgressBar = true;
                config.MaximumOpacity = Convert.ToInt32("100");
                config.ShowTransitionDuration = Convert.ToInt32("500");
                config.VisibleStateDuration = Convert.ToInt32("5000");
                config.HideTransitionDuration = Convert.ToInt32("500");
            });
        }

        MatTheme guarda = new MatTheme() { Primary = "green" };
        MatTheme eliminar = new MatTheme(){ Primary = "red" };
        MatTheme buscar = new MatTheme() { Primary = "grey" };
 
    }
