@page "/Registro/Usuario"
@page "/Registro/Usuario/{UsuarioId:int}"
@inject IMatToaster  Toaster
<style>
    .demo-mat-card {
        max-width: 560px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto
    }

    .mdc-text-field {
        width: 100%;
    }
</style>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
    <MatHeadline6 Class="demo-mat-card-clean-margin mat-layout-grid-cell mat-layout-grid-cell-align-middle">
        Usuario
    </MatHeadline6>
    <MatDivider Padded="true"></MatDivider>

    <div class="form-register">
        <EditForm Model="@Usuario" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <fieldset>
                <div class="form-row">
                    <div class="input-group-append">
                        <MatTextField Label="UsuarioId" Required="true" @bind-Value="Usuario.UsuarioId" InputStyle="number" Style="height: 37px;"></MatTextField>
                        <ValidationMessage For="(() => Usuario.UsuarioId)" />
                        <MatThemeProvider Theme="buscar">  <MatButton Raised="true" Icon="search" @onclick="Buscar" Style=" max-width: 7rem;"> Buscar</MatButton> </MatThemeProvider>
                    </div>
                    &nbsp; &nbsp;
                    <MatDatePicker Required="true" @bind-Value="Usuario.Fecha" Label="Fecha" Style="height:37px; max-width: 10rem; "></MatDatePicker>
                    <ValidationMessage For="(() => Usuario.Fecha)" />
                </div>
                <br />
                <div class="form-group">
                    <InputSelect class="form-control" @bind-Value="TipoSeleccionado" @onchange="SeleccionarTipo" @onclick="SeleccionarTipo">
                        <option value="0" disabled selected>Seleccione un Tipo de Usuario</option>
                        @if (ListadoTipos.Count == 0)
                        {
                            <option value="" disabled>No hay Tipo de usuario Registrado</option>
                        }
                        else
                        {
                            @foreach (var item in ListadoTipos)
                            {
                                <option value="@item.TipoUsuarioId">@item.Descripcion</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => Usuario.TipoUsuarioId)" />
                </div>

                <div class="form-group">
                    <MatTextField Label="Nombre" Required="true" @bind-Value="Usuario.Nombre" Style="height: 37px;"></MatTextField>
                    <ValidationMessage For="(() => Usuario.Nombre)" />
                </div>
                <div class="form-group">
                    <MatTextField Label="Email" Required="true" @bind-Value="Usuario.Email" Icon="mail_outline" Style="height: 37px;width:100%  !important;"></MatTextField>
                    <ValidationMessage For="(() => Usuario.Email)" />
                </div>
                <div class="form-group">
                    <MatTextField Label="Usuario" Required="true" @bind-Value="Usuario.Usuario"  Style="height: 37px;width:100%  !important;"></MatTextField>
                    <ValidationMessage For="(() => Usuario.Usuario)" />
                </div>
                <div class="form-group">
                    <MatTextField Label="Contraseña" Required="true" @bind-Value="Usuario.Contraseña" Style="height: 37px;width:100%  !important;" Type="password" Icon="lock_outline" IconTrailing="true"></MatTextField>
                    <ValidationMessage For="(() => Usuario.Contraseña)" />
                </div>
                <div class="form-group">
                    <MatTextField Label="Confirmar Contraseña" Required="true" @bind-Value="Usuario.RepeatContraseña" Style="height: 37px;width:100%  !important;" Type="password" Icon="lock_outline" IconTrailing="true"></MatTextField>
                    <ValidationMessage For="(() => Usuario.RepeatContraseña)" />
                </div>


                <div>
                    <MatButton Raised="true" Icon="insert_drive_file" @onclick="Limpiar">Nuevo</MatButton>
                    <MatThemeProvider Theme="guarda">  <MatButton Raised="true" Type="submit" Icon="save">Guardar</MatButton>   </MatThemeProvider>
                    <MatThemeProvider Theme="eliminar"> <MatButton Raised="true" Icon="delete" @onclick="Eliminar">Eliminar</MatButton> </MatThemeProvider>
                </div>
            </fieldset>
</EditForm>
    </div>
</MatCard>

    @code {
        [Parameter]
        public int UsuarioId { get; set; }
        private string Mensaje = string.Empty;
        private string Titulo =string.Empty;
        private string TipoSeleccionado = string.Empty;
        Usuarios Usuario { get; set; }
        UsuariosController controller = new UsuariosController();

        TiposUsuarios Tipos { get; set; }
        List<TiposUsuarios> ListadoTipos = new List<TiposUsuarios>();
        TipoUsuariosController tipousuariosController = new TipoUsuariosController();

        protected override void OnInitialized()
        {
            Usuario = new Usuarios();
            ListadoTipos = tipousuariosController.GetList(e => true);
            Limpiar();
            if (UsuarioId != 0)
            {
                Usuario.UsuarioId = UsuarioId;
                Buscar();
            }
        }

        private void Limpiar()
        {
            this.Usuario = new Usuarios();
            TipoSeleccionado = "0";
            LimpiarMensajes();
        }

        private void LimpiarMensajes()
        {
            Mensaje = string.Empty;
            Titulo = string.Empty;
        }

        public void Guardar()
        {
            LimpiarMensajes();

            if (ExisteEmail())
            {
                Mensaje = "Existe un usuario con este email, debe ingresar otro.";
                Titulo = "Info";
                Show(MatToastType.Info);
                return;
            }

            if (ExisteUsuario())
            {
                Mensaje = "Existe un usuario con este nombre de usuario, debe ingresar otro.";
                Titulo = "Info";
                Show(MatToastType.Info);
                return;
            }

            if (Usuario.Contraseña == Usuario.RepeatContraseña == false)
            {
                Mensaje = "Las contraseñas no coinciden.";
                Titulo = "Info";
                Show(MatToastType.Info);
                return;
            }
            SeleccionarTipo();
            if (controller.Guardar(Usuario))
            {
                Limpiar();
                Mensaje = "Se guardo el usuario correctamente";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
            }
            else
            {
                Limpiar();
                Mensaje = "Ha ocurrido un error al guardar el usuario";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }

        public void Buscar()
        {
            Usuarios usuario = controller.Buscar(Usuario.UsuarioId);

            if (usuario != null)
            {
                Limpiar();
                Usuario = usuario;
                TipoSeleccionado = Usuario.TipoUsuarioId.ToString();
                Mensaje = "Se ha encontrado el usuario correctamente";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
            }
            else
            {
                Limpiar();
                Mensaje = "No se ha encontrado el usuario";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }

        public void Eliminar()
        {
            Usuarios usuario = controller.Buscar(Usuario.UsuarioId);

            if (usuario != null)
            {
                controller.Eliminar(Usuario.UsuarioId);
                Limpiar();
                Mensaje = "Se Elimino el usuario correctamente";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
            }
            else
            {
                Limpiar();
                Mensaje = "Ha ocurrido un error al eliminar el usuario";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }

        private void SeleccionarTipo()
        {
            Usuario.TipoUsuarioId = Convert.ToInt32(TipoSeleccionado);
        }

        public bool ExisteEmail()
        {
            bool paso = false;
            var Listado = new List<Usuarios>();

            Listado = controller.GetList(p => p.Email == Usuario.Email);

            if (Listado.Count == 1)
            {
                if(Usuario.UsuarioId== 0)
                    return paso = true;

                Usuarios UsuarioTemporal = new Usuarios();
                UsuarioTemporal = Listado[0];
                if (UsuarioTemporal.UsuarioId != Usuario.UsuarioId)
                {
                    paso = true;
                }
            }
            else if (Listado.Count > 1)
            {
                paso = true;
            }

            return paso;
        }

        public bool ExisteUsuario()
        {
            bool paso = false;
            var Listado = new List<Usuarios>();

            Listado = controller.GetList(p => p.Usuario == Usuario.Usuario);

            if (Listado.Count == 1)
            {
                if(Usuario.UsuarioId== 0)
                    return paso = true;

                Usuarios UsuarioTemporal = new Usuarios();
                UsuarioTemporal = Listado[0];
                if (UsuarioTemporal.UsuarioId != Usuario.UsuarioId)
                {
                    paso = true;
                }
            }
            else if (Listado.Count > 1)
            {
                paso = true;
            }

            return paso;
        }

        public void Show(MatToastType type, string icon = "")
        {
            Toaster.Add(Mensaje, type, Titulo, icon, config =>
            {
                config.ShowCloseButton = true;
                config.ShowProgressBar = true;
                config.MaximumOpacity = Convert.ToInt32("100");
                config.ShowTransitionDuration = Convert.ToInt32("500");
                config.VisibleStateDuration = Convert.ToInt32("5000");
                config.HideTransitionDuration = Convert.ToInt32("500");
            });
        }

        MatTheme guarda = new MatTheme() { Primary = "green" };
        MatTheme eliminar = new MatTheme(){ Primary = "red" };
        MatTheme buscar = new MatTheme() { Primary = "grey" };

    }
