@page "/Consulta/Articulo"



<style>
    .demo-mat-card {
        max-width: 900px;
        margin-top: 2rem;

    }
   

</style>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">

        <MatHeadline6 Class="demo-mat-card-clean-margin">
            Consulta Articulos
        </MatHeadline6>

    <MatDivider Padded="true"></MatDivider>
    <div class="form-row">
        <p>
            <MatDatePicker @bind-Value="DesdeFecha" Label="Fecha:Desde" Style="height:37px;"></MatDatePicker>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <MatDatePicker @bind-Value="HastaFecha" Label="Fecha:Hasta" Style="height:37px; "></MatDatePicker>
            <MatCheckbox Label="Filtra por fecha" @bind-Value="BuscarFecha"></MatCheckbox>
        </p>
    </div>

    <br /><br />
    <div class=" form-row">
        <MatSelect Label="Filtro:" @bind-Value="Filtro" Style="height:20px;">
            <MatOptionString Value="Todo">Todo</MatOptionString>
            <MatOptionString Value="Id">Id</MatOptionString>
            <MatOptionString Value="Nombres">Nombres</MatOptionString>
            <MatOptionString Value="Usuario">Inventario</MatOptionString>
        </MatSelect>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <MatTextField Label="Criterio" @bind-Value="Criterio" Style="width:400px;"></MatTextField>
        &nbsp;&nbsp;
        <MatThemeProvider Theme="buscar">  <MatIconButton Icon="search" @onclick="Buscar"> </MatIconButton> </MatThemeProvider>
    </div>
</MatCard>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Inventario</th>
                <th>Fecha de Ingreso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.ArticuloId</td>
                    <td>@item.Nombre</td>
                    <td>@item.Inventario</td>
                    <td>@item.Fecha</td>
                    <td><a class="btn btn-outline-info" href="/Registro/Articulo/@item.ArticuloId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
</MatCard>

    @code {

        private List<Articulos> lista { get; set; }

        private string Filtro { get; set; }
        private string Criterio { get; set; }
        public string mensaje;
        public bool BuscarFecha { get; set; }
        public DateTime DesdeFecha { get; set; }
        public DateTime HastaFecha { get; set; }


        MatTheme buscar = new MatTheme()
        {
            Primary = "grey",
        };

        protected override void OnInitialized()
        {
            lista = new List<Articulos>();
            DesdeFecha = DateTime.Now;
            HastaFecha = DateTime.Now;
        }

        private void Buscar()
        {
            ArticulosController controller = new ArticulosController();

            try
            {
                if (Filtro == null)
                {
                    mensaje = "Debe seleccionar un Filtro";
                }
                else
                {
                    lista = controller.GetList(a => true);

                    if (lista.Count == 0)
                    {
                        mensaje = "No hay Clientes Registrado";
                    }
                    else
                    {
                        mensaje = "";
                        switch (Filtro)
                        {
                            case "Todo":
                                lista = controller.GetList(e => true);
                                break;
                            case "Id":
                                lista = controller.GetList(e => e.ArticuloId == Convert.ToInt32(Criterio));
                                break;
                            case "Nombre":
                                lista = controller.GetList(e => e.Nombre == Criterio);
                                break;
                            case "Cedula":
                                lista = controller.GetList(e => e.Inventario.ToString() == Criterio);
                                break;
                        }
                        if (BuscarFecha == true)
                        {
                            lista = controller.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
                        }
                    }
                }
            }
            catch (Exception)
            {
                throw;
            }
        }
    }
