@page "/Consulta/Articulos"
<h3>Consulta de Articulos</h3>

<div class="form-group row">
    <input class="ml-2" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1"> Filtrar por Fecha
    <div class="input-group  col-sm-6">

        <label for="DesdeFecha" class="col-auto">Desde</label>
        <input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control col-6 " input />

        <label for="HastaFechaInput" class="col-auto">&nbsp;&nbsp;Hasta</label>
        <input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control col-6" />
    </div>
</div>

<div class="form-group row">
    <label for="filtro">Filtro</label>
    <div class="input-group  col-sm-10">
        <select class="form-control" @bind="Filtro">
            <option value="" disabled selected>Seleccione un filtro</option>
            <option value="Todo">Todo</option>
            <option value="Id">Id</option>
            <option value="Nombres">Nombres</option>
            <option value="Usuario">Inventario</option>
        </select>

        <div align="right" class="input-group col-md-8">
            <label for="criterio"> Criterio </label>
            <input type="search" class="form-control" @bind-value="Criterio" />
        </div>
        <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
    </div>
</div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Inventario</th>
                <th>Fecha de Ingreso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.ArticuloId</td>
                    <td>@item.Nombre</td>
                    <td>@item.Inventario</td>
                    <td>@item.Fecha</td>
                    <td><a class="btn btn-outline-info" href="Articulos/@item.ArticuloId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>


@code {
  
    private List<Articulos> lista { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    public string mensaje;
    public bool BuscarFecha { get; set; }
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }


    protected override void OnInitialized()
    {
        lista = new List<Articulos>();
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private void Buscar()
    {
        ArticulosController controller = new ArticulosController();

        try
        {
            if (Filtro == null)
            {
                mensaje = "Debe seleccionar un Filtro";
            }
            else
            {
                lista = controller.GetList(a => true);

                if (lista.Count == 0)
                {
                    mensaje = "No hay Clientes Registrado";
                }
                else
                {
                    mensaje = "";
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = controller.GetList(e => true);
                            break;
                        case "Id":
                            lista = controller.GetList(e => e.ArticuloId == Convert.ToInt32(Criterio));
                            break;
                        case "Nombre":
                            lista = controller.GetList(e => e.Nombre == Criterio);
                            break;
                        case "Cedula":
                            lista = controller.GetList(e => e.Inventario.ToString() == Criterio);
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = controller.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
                    }
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}