@page "/Consulta/Categoria"
<style>
    .demo-mat-card {
        max-width: 900px;
        margin-top: 2rem;
    }
</style>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">

    <MatHeadline6 Class="demo-mat-card-clean-margin">
        Consulta Tipo Clientes
    </MatHeadline6>

    <MatDivider Padded="true"></MatDivider>

    <br /><br />
    <div class=" form-row">
        <MatSelect Label="Filtro:" @bind-Value="Filtro" Style="height:20px;">
            <MatOptionString Value="Todos">Todo</MatOptionString>
            <MatOptionString Value="Id">Id</MatOptionString>
            <MatOptionString Value="Nombre">Nombre</MatOptionString>

        </MatSelect>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <MatTextField Label="Criterio" @bind-Value="Criterio" Style="width:400px;"></MatTextField>
        &nbsp;&nbsp;
        <MatThemeProvider Theme="buscar">  <MatIconButton Icon="search" @onclick="Buscar"> </MatIconButton> </MatThemeProvider>
    </div>
</MatCard>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.CategoriaId</td>
                    <td>@item.Nombre</td>
                    <td><a class="btn btn-outline-info" href="/Registro/Categoria/@item.CategoriaId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>
</MatCard>



@code {

    private List<Categorias> lista { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    public string mensaje;
    public bool BuscarFecha { get; set; }

    MatTheme buscar = new MatTheme()
    {
        Primary = "grey",
    };

    protected override void OnInitialized()
    {
        lista = new List<Categorias>();
    }

    private void Buscar()
    {
        CategoriasController controller = new CategoriasController();

        try
        {
            lista = controller.GetList(a => true);

            if (lista.Count == 0)
            {
                mensaje = "No hay Categoria Registrado";
            }
            else
            {
                mensaje = "";
                switch (Filtro)
                {
                    case "Todo":
                        lista = controller.GetList(e => true);
                        break;
                    case "Id":
                        lista = controller.GetList(e => e.CategoriaId == Convert.ToInt32(Criterio));
                        break;
                    case "Nombre":
                        lista = controller.GetList(e => e.Nombre == Criterio);
                        break;
                }
            }

        }
        catch (Exception)
        {
            throw;
        }
    }
}