@using Microsoft.AspNetCore.Components;
@inject NavigationManager navigationManager

<style>
    .app-sidebar {
        color: #fff
    }
    .mdc-drawer .mdc-list-item {
        color: black;
    }

    .app-sidebar .mdc-list-item--selected {
        border-left: solid 3px rgba(255, 255, 255, .5);
        background: #6200ee !important;

    }


</style>

<MatNavMenu Multi="true" Class="app-sidebar">
    <MatNavItem Href="/home" NavLinkMatch="NavLinkMatch.All">
        <MatIcon>home</MatIcon> <span class="miniHover">Home page</span>
    </MatNavItem>

    <MatNavSubMenu>

        <MatNavSubMenuHeader>
            <MatNavItem>
                <MatIcon>add_box</MatIcon>
                <span class="miniHover">  Registros</span>
            </MatNavItem>
        </MatNavSubMenuHeader>

        <MatNavSubMenuList>

            <MatNavItem Href="/Registro/Empeños">
                <MatIcon>account_balance</MatIcon> <span class="miniHover">Registro Empeños</span>
            </MatNavItem>

            <MatNavItem Href="/Registro/Cobros">
                <MatIcon>attach_money</MatIcon> <span class="miniHover">Resgistro Cobros</span>
            </MatNavItem>

            <MatNavItem Href="/Registro/Articulo">
                <MatIcon>add</MatIcon> <span class="miniHover">Registro Articulos</span>
            </MatNavItem>

            <MatNavItem Href="/Registro/Usuario">
                <MatIcon>add</MatIcon> <span class="miniHover">Registro Usuarios</span>
            </MatNavItem>

            <MatNavItem Href="/Registro/Cliente">
                <MatIcon>add</MatIcon> <span class="miniHover">Registro Clientes</span>
            </MatNavItem>


            <MatNavItem Href="/Registro/Categoria">
                <MatIcon>add</MatIcon> <span class="miniHover">Registro Categorias</span>
            </MatNavItem>


            <MatNavItem Href="/Registro/Cliente">
                <MatIcon>add</MatIcon> <span class="miniHover">Registro Tipos Clientes</span>
            </MatNavItem>


            <MatNavItem Href="/Registro/Cliente">
                <MatIcon>add</MatIcon> <span class="miniHover">Registro Tipos Usuarios</span>
            </MatNavItem>


        </MatNavSubMenuList>


    </MatNavSubMenu>
    <MatDivider></MatDivider>

    <MatNavSubMenu>

        <MatNavSubMenuHeader>
            <MatNavItem>
                <MatIcon>list</MatIcon>
                <span class="miniHover">  Consultas</span>
            </MatNavItem>
        </MatNavSubMenuHeader>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Empeño">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Empeños</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Cobro">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Cobros</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Articulo">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Articulos</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Usuario">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Usuarios</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Cliente">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Clientes</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Categoria">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Categoria</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/TipoCliente">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Tipo Clientes</span>
            </MatNavItem>
        </MatNavSubMenuList>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/TipoUsuario">
                <MatIcon>view_list</MatIcon> <span class="miniHover">Consulta Tipo Usuarios</span>
            </MatNavItem>
        </MatNavSubMenuList>

    </MatNavSubMenu>
    <MatDivider></MatDivider>

  

</MatNavMenu>

@code {



}